<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Folder App</title>
</head>
<body ng-app="folderApp">
<h1>Folder List</h1>
<div ng-controller="folderController" class="folder-list">

    <!-- This is clearly not ideal. It only works for two levels and spaghetti code is no fun. -->
    <li ng-repeat="folder in folders">
        <!-- the basic idea here was to toggle the subfolder view. -->
        <!-- TODO: Second click works, but first doesn't. Fix -->
        <a href="#" class="folder level-1" ng-click="$parent.toggleSubs(folder.Id)">{{folder.Name}}</a>
        <p ng-if="folder.Folders">
            <ul>
                <li ng-show="folder.showSubFolders" ng-repeat="sub in folder.Folders">
                    <a href="#" class="folder level-2">
                    Sub: {{sub.Name}}</a>
                </li>
            </ul>
        </p>
    </li>

</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>